/* Styling for Mobile's screens */
h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 2em 0 0 0;
  }

h2 {
    font-family: 'Roboto Mono', monospace;
    padding-top: 2em;
  }

h4 {
    font-family: 'Roboto Mono', monospace;
  }
  
p {
    font-family: 'Nunito Sans', sans-serif;
  }

/* Setting width image 100% of the page */
img {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 5% 0 5% 0;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin: 0 15px;
}

/* Styling for Ipad's and Desktop's screens */
@media screen and (min-width: 600px) {
  /* Using grid to organise elements inside the blog post */
  article {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    justify-content: left;
    padding: 20px 0;
  }

  article header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  article img {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    padding: 0;
    margin-left: 0;
  }

  article p {
    padding-right: 15px;
  }
}

