/* Styling for Mobile's and Ipad's screens */
h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin: 10%;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.17em;
  text-align: center;
  padding-left: 20px;
}

/* Styling questions inside the form */
input[type=text], textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
}

/* Styling send button inside the form */
input[type=submit] {
  background-color: #242424;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Styling the form like a whole */
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10% 0;
}

/* Styling for Desktop's screens */
@media screen and (min-width: 1000px) {
  /* Using grid to organise elements inside the page layout */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  
  /* Keeping the footer fixed to the page */
  .footer-social-icons {
    position: fixed;
    bottom: 5px;
    width: 100%;
  }
}