h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

li {
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
}

#hardskills {
  text-align: center;
  margin: 10%;
}

#hardskills ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px 10px 0 10px;
  border-radius: 100%;
  background: rgb(193, 194, 194);
}

#hardskills ul li i {
  line-height: 50px;
}

#softskills {
  text-align: center;
  margin: 10%;
}

#softskills ul {
  list-style-type: none;
  padding-top: 5%;
}

#resume {
  margin: 10%;
}

#resume h1 {
  text-align: center;
  padding: 10%;
}

#resume form button {
  display: block;
  margin: 10% auto 15% auto;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  #hardskills {
    margin: 7%;
  }

  #softskills {
    margin: 7%
  }

  #resume {
    display: flex;
  }

  #resume p {
    width: 80%;
    padding-right: 30px;
  }
  
  #resume form {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1000px) {
  #hardskills {
    margin: 5%;
  }

  #softskills {
    margin: 5%
  }

  #resume {
    margin: 10%;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
  }

  main #resume {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  .footer-social-icons {
    position: fixed;
    bottom: 5px;
    width: 100%;
  }
}
