/* Styling for Mobile's screens */
h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

li {
  font-family: 'Nunito Sans', sans-serif;
}

#hardskills {
  text-align: center;
  margin: 10%;
}

/* Using inline-block to have a list in one line (Icons) */
#hardskills ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px 10px 0 10px;
  border-radius: 100%;
  background: rgb(193, 194, 194);
}

#hardskills ul li i {
  line-height: 50px;
}

/* Centering text inside an unorder list  */
#softskills {
  text-align: center;
  margin: 10%;
}

/* Removing bullet points from the list */
#softskills ul {
  list-style-type: none;
  padding-top: 5%;
}

#resume {
  margin: 10%;
}

#resume h1 {
  text-align: center;
  padding: 10%;
}

/* Centering download button */
#resume form button {
  display: block;
  margin: 10% auto 15% auto;
}

/* Styling for Ipad's screens */
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #hardskills {
    margin: 7%;
  }

  #softskills {
    margin: 7%
  }

  /* Using flex to have 3 sections inside the '#resume' section */
  #resume {
    display: flex;
  }

  #resume p {
    width: 80%;
    padding-right: 30px;
  }
  
  /* Centering download button */
  #resume form {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* Styling for Desktop's screens */
@media screen and (min-width: 1000px) {
  #hardskills {
    margin: 5%;
  }

  #softskills {
    margin: 5%
  }

  #resume {
    margin: 10%;
  }

  /* Using grid to organise elements inside the page layout */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  main #resume {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  /* Keeping the footer fixed to the page */
  .footer-social-icons {
    position: fixed;
    bottom: 5px;
    width: 100%;
  }
}
