* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  margin: 2em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Roboto Mono', monospace;
}

p {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80%;
  font-family: 'Nunito Sans', sans-serif;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #3f3f3f;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.introimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px #8a8989;
}

@media screen and (min-width: 600px) {
  .introimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: auto;
  }
  p {
      text-align: left;
      margin-left: 25%;
      margin-right: 25%;
      width: auto;
    }
}

.footer-social-icons {
  width: auto;
  height: auto;
  margin: auto;
}

.footer-social-icons ul {
  margin: 30px;
  padding: 0px;
  text-align: center;
}

.footer-social-icons ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: rgb(193, 194, 194);
}

.footer-social-icons ul li a {
  color: #272727;
  font-size: 25px;
  display: block;
}

.footer-social-icons ul li a i {
  line-height: 50px;
}

.footer-social-icons ul li:hover {
  background: rgb(228, 228, 228);
}