h1 {
  margin: 2em;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Roboto Mono', monospace;
}

p {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80%;
  font-family: 'Nunito Sans', sans-serif;
}

.introimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px #8a8989;
}

@media screen and (min-width: 600px) {
  .introimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: auto;
  }
  p {
      text-align: left;
      margin-left: 25%;
      margin-right: 25%;
      width: auto;
    }
}
