ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: right
}

a {
  display: block;
  padding: 8px;
  background-color: #a0a0a0;
}

.introimage {
  display: flex;
  width: 100px;
  height: 100px;
}

.question {
  text-align: center;
}