* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
ul.topnav li {float: left;}
  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
  
ul.topnav li a:hover:not(.active) {background-color: #111;}
  
ul.topnav li a.active {background-color: #3f3f3f;}
  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

h1 {
    font-family: 'Roboto Mono', monospace;
  }

h2 {
    font-family: 'Roboto Mono', monospace;
  }
  
p {
    font-family: 'Nunito Sans', sans-serif;
  }
  
.footer-social-icons {
    width: auto;
    height: auto;
    margin: auto;
  }
  
.footer-social-icons ul {
    margin: 30px;
    padding: 0px;
    text-align: center;
  }
  
.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: rgb(193, 194, 194);
  }
  
.footer-social-icons ul li a {
    color: #272727;
    font-size: 25px;
    display: block;
  }
  
.footer-social-icons ul li a i {
    line-height: 50px;
  }
  
.footer-social-icons ul li:hover {
    background: rgb(228, 228, 228);
  }