h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding-top: 2em;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 2em 0;
}
  
p {
  font-family: 'Nunito Sans', sans-serif;
  padding: 1em 0;
}

img {
  max-width: 500px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 1em;
}

article {
  padding-top: 1em;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  main {
    margin: 3em;
  }
  img {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 5% 10% 5%;
  }

  main h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  
  main article h2 {
    text-align: center;
  }

  main article p {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
  